# system aliases
alias doc='cd ~/Documents'
alias dow='cd ~/Downloads'
alias pics='cd ~/Pictures'
alias repos='cd ~/.repos'
alias mans='cd ~/Documents/manuals/'
alias cdg='cd ~/Documents/geemm/'
alias geemm='cd ~/Documents/geemm/'
alias rotax='cd ~/Documents/geemm/rotax-study'
alias anion='cd ~/Documents/geemm/anion-recog'
alias ovrrx='cd ~/Documents/geemm/ovrrx/'
alias amino='cd ~/Documents/geemm/mod-aminoacid/'
alias loadwb='pkill waybar && hyprctl dispatch exec waybar'
alias resetwb='hyprctl dispatch exec waybar'

# pacman aliases 
alias pacinstall='sudo pacman -Sy'
alias pacpurge='sudo pacman -Rcns'
alias pacsaferm='sudo pacman -Runs'

# python aliases
alias activate='source .venv/bin/activate'
alias cact='python3 -m virtualenv .venv'

# ssh aliases 
alias scp='noglob scp'
alias jupiter='ssh mrauen@jupiter'
alias newton='ssh mrauen@newton'
alias loboc='ssh mrauen@lobocarneiro'
alias tarsus='ssh renato@tarsus'
alias pcadf='ssh geem@adf'
alias lab=''

# terminal aliases
alias q='exit'
alias open='xdg-open 2>/dev/null'
alias uz='unzip'
alias bt='bashtop'
alias btop='bashtop'
alias po='poweroff'
alias rboot='reboot'
alias reload='source ~/.zshrc'

# orca aliases
alias orca5='~/.orca/orca5/orca'
alias orca6=''

# nciplot aliases
alias nciplot='~/.nciplot/nciplot'

# vim aliases
alias v='vim'
alias vver='vim --version'

# git aliases
alias gi='git init -b master'
alias ginit='git init -b master'
alias gimain='git init -b main'
alias gs='git status'
alias gsuno='git status -uno'
alias ga='git add .'
alias gc='git commit -v -m'
alias gcl='git clone --recurse-submodules'
alias gclone='git clone --recurse-submodules'
alias gmerge='git merge'
alias gpll='git pull'
alias gpull='git pull'

